
  @font-face {
    font-family: "SF Pro Text";
    src: url(assets/fonts/SF-Pro-Text-Regular.ttf);
  }
  @font-face {
    font-family: "SF Pro Text Bold";
    src: url(assets/fonts/SF-Pro-Text-Bold.ttf);
  }
  @font-face {
    font-family: "SF Pro Text Medium";
    src: url(assets/fonts/SF-Pro-Text-Medium.ttf);
  }

body{
    font-family: 'SF Pro Text';
    color: #526484;
}

.product_deatils_mian .container {
	max-width: 100%;
}

.border_style_1 {
	border: 1px solid #DCDFE9;
}
.hide_caret .dropdown-toggle::after {
	display: none;
}
.bg_blue{
	background-color: #689AF4;
}
.bg_blue {
	background-color: #689AF4 !important;
	color: #fff !important;
	border-color: #689AF4 !important;
}
.heading_1 {
	font-family: "SF Pro Text bold";
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.04em;
	color: #344357;
}
.table_order th, .table_order td {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #3A4961;
	white-space: nowrap;
	vertical-align: middle !important;
}
.hide_caret .btn.dropdown-toggle {
	width: auto;
}
.table_order th {
	font-family: "SF Pro Text bold";
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.table_order td {
	border: 0px;
}
.table_order .table.align-middle {
	margin-bottom: 0px;
}
.status span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	background: #FFC96B;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.table_order .table {
	margin-bottom: 0px;
}
.status .orange {
	background: #FFC96B;
}
.status .blue_light {
	background: #91E0D6;
}
.status .pink_light {
	background: #FFB0B0;
}
.table_order .bold {
	line-height: 22px;
	font-family: "SF Pro Text bold";
	font-size: 13px;
}
.table_order u {
    text-decoration: none;
    border-bottom: 1px solid #3A4961;
}
.white_group_btn .btn.btn-secondary {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 10px;
	background: #FFFFFF;
	border: 1px solid #DCDFE9;
	border-radius: 4px !important;
	margin-right: 12px;
    font-family: "SF Pro Text Bold";
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #344357;
}
.text-center .plus_center {
	width: 22px;
	margin: 0px auto;
	padding: 4px;
}
.table_order .hide_caret a {
	border: 0px !important;
}
.Apply_btn .open_setting .dropdown-menu {
	width: 124px;
	min-width: 124px;
	transform: translate(0px, 35px) !important;
	border-top: 0px;
	border-radius: 0px 0px 5px 4px !important;
}
.global_drop .dropdown-menu li a {
	font-size: 12px;
	font-family: "SF Pro Text Bold";
	padding: 10px 0;
	text-align: center;
}
.Apply_btn .open_setting .dropdown-toggle.show {
	border-radius: 4px 4px 0px 0px !important;
}
.Apply_btn .w_124 {
	max-width: 124px;
	margin-right: 12px;
}
.Apply_btn .w_124.ml_12 {
	margin-left: 12px !important;
}
.drop_full .dropdown-menu {
	width: 100% !important;
	min-width: 100%;
	transform: translate(0px, 35px) !important;
	border-top: 0px;
	border-radius: 0px 0px 5px 4px !important;
	padding: 8px;
}

.drop_full .dropdown-menu .dropdown-item {
	text-align: left;
	padding: 10px 8px !important;
}
.drop_full .dropdown-toggle.show {
	border-radius: 4px 4px 0px 0px !important;
}
.add_task {
	text-align: right;
	padding-right: 16px;
}
.add_task .btn.btn-secondary {
	border: 1px solid #1874FE !important;
	border-radius: 4px !important;
	margin-right: 0;
	font-family: "SF Pro Text bold";
	background-color: #1874fe;
	font-size: 12px;
	padding: 8px 18px;
}
.add_task i{
	margin-right: 5px;
}
.global_drop .dropdown-toggle {
	width: 100%;
	text-align: left;
	border-radius: 4px;
	border: 1px solid #DCDFE9;
	font-size: 12px;
	line-height: 21px;
	color: #526484;
    font-family: "SF Pro Text Bold";
}
.icon_right {
	display: flex;
	justify-content: end;
}
.icon_right i {
	margin: 0px 10px;
}
.pagination li a {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #526484;
	padding: 10px 14px;
}
.pagination li a:hover {
	background-color: #dcdfe9;
	color: #526484;
}

.global_drop.global_drop_2 {
	display: flex;
	justify-content: flex-end;
	padding-right: 18px;
	align-items: center;
}
.global_drop.global_drop_2 .dropdown {
	margin: 0px 10px;
}
.table_order th img, .table_order td img {
	margin-right: 5px;
}
.table_order th .form-check-input, .table_order td .form-check-input {
	border: 2px solid #689AF4;
	border-radius: 4px !important;
}
.Apply_btn .btn.btn-secondary {
    font-family: "SF Pro Text Bold";
	font-style: normal;
	font-size: 12px;
	line-height: 14px;
	color: #526484;
	height: 35px;
	width: 61px;
	background-color: transparent;
	border-color: #689AF4;
}
.col-sm-12.col-lg-4.Apply_btn .dropdown.global_drop {
	width: 100%;
	margin-left: 25px;
}
.col-sm-12.col-lg-4.Apply_btn {
	display: flex;
}
.global_drop_first {
	margin-left: 0px !important;
	margin-right: 25px;
}
.global_drop .btn.dropdown-toggle::after {
	right: 10px;
	position: absolute;
	top: 40%;
	background-image: url('assets/images/chevron-down.png');
	width: 13px;
	height: 9px;
	border: 0px !important;
	background-repeat: no-repeat;
}
.global_drop .btn.dropdown-toggle.show::after {
	top: 35%;
}
.global_drop .btn.dropdown-toggle.show::after {
	transform: rotate(180deg);
}
.global_drop_2 .btn.dropdown-toggle {
	width: 50px;
}
.active > .page-link, .page-link.active {
	background-color: #689AF4;
	border-color: #689AF4;
}

.view_slip_modal .btn-close {
	position: absolute;
	right: -22px;
	background: none;
	color: #fff !important;
	opacity: 1;
	top: 0;
	padding: 0px;
	font-size: 13px;
	height: auto;
}
.view_slip_modal .modal-content {
	background-color: transparent !important;
}
.view_slip_btn {
	background-color: transparent !important;
	border: none !important;
	text-decoration: none;
	border-bottom: 1px solid #3A4961 !important;
	line-height: 15px;
	font-size: 12px;
	color: #3A4961 !important;
	white-space: nowrap;
	padding: 0px !important;
	border-radius: 0px !important;
}
.advance_search {
	border: 0px !important;
}
.gear_dropdown .dropdown-toggle {
	border: none !important;
	padding: 0px;
}
.dropdown-menu li {
	padding: 0px 8px;
	border-radius: 4px !important;
}
.dropdown-menu li .dropdown-item {
	border-radius: 4px;
}
#advance_search .modal-dialog {
	max-width: 636px !important;
}
#advance_search .global_drop_first {
	margin-right: 0px !important;
}
#advance_search .global_drop_first {
	margin-right: 0px !important;
	margin-bottom: 20px;
}
#advance_search label {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: #526484;
}
#advance_search .modal-title {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 700;
	font-size: 20px !important;
	line-height: 24px;
	color: #3A4961;
}
#advance_search .modal-footer {
	justify-content: flex-start;
}
#advance_search .modal-footer .btn.btn-primary {
	padding: 8px 16px;
	background: #689AF4;
	border-radius: 4px;
	border-color: #689AF4;
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}
#advance_search .modal-footer .btn.btn-primary i{
    margin-right: 5px;
}
#advance_search .modal-footer .btn-secondary {
	box-sizing: border-box;
	padding: 8px 16px;
	border: 1px solid #DCDFE9;
	border-radius: 4px;
	font-family: 'SF Pro Text' !important;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #526484;
	background-color: transparent;
}
#searchForm {
	width: 100% !important;
	position: absolute;
	z-index: 99999;
	top: 0;
}
#searchForm_btn {
	width: auto;
	z-index: 9999;
}
#searchForm .form-control.border-0.bg-light {
	background-color: #fff !important;
	border: 1px solid #ced4da !important;
	border-right: 0px !important;
	padding-left: 35px !important;
}
.table_filter {
	position: relative;
}
#search {
	padding-left: 45px;
	border: 1px solid #dee2e6 !important;
}
.searchForm_btn_2 {
	position: absolute;
	top: 12px;
}
.number_drop {
	padding-right: 0px !important;
	font-size: 12px;
}
.number_drop .dropdown a {
	width: 60px !important;
}
.number_drop .dropdown .dropdown-menu {
	min-width: 60px !important;
	width: 60px;
}
.number_drop .dropdown .dropdown-menu .dropdown-item {
	width: auto !important;
}
.pagination {
	margin-bottom: 0px !important;
}
.date_piker input {
	border-left: 0px !important;
}
.date_piker input {
	border-left: 0px !important;
	padding-left: 0px;
}
.date_piker input::placeholder {
	font-size: 13px;
	font-family: "SF Pro Text Bold";
	color: #526484;
}
.date_piker .input-group-append .input-group-text i {
	color: #526484;
}
.date_piker .input-group-append .input-group-text {
	border-radius: 4px 0px 0px 4px !important;
	background-color: #fff !important;
}
@media only screen and (max-width: 991px)  {
	.white_group_btn {
		display: flex;
		flex-wrap: wrap;
	}
	.white_group_btn .btn.btn-secondary {
		width: 20%;
		margin-bottom: 15px;
	}
	.icon_right {
		margin-top: 18px;
	}
	.global_drop.global_drop_2 {
		justify-content: flex-start;
		padding-left: 18px;
	}
}   


@media only screen and (max-width: 767px)  {
	.white_group_btn .btn.btn-secondary {
		width: 50%;
		margin-bottom: 15px;
	}
	.white_group_btn {
		justify-content: space-between;
	}
	.white_group_btn .btn.btn-secondary {
		max-width: 49%;
		margin-bottom: 15px;
		width: 100% !important;
		margin-right: 0px !important;
	}
}

@media only screen and (max-width: 767px)  {
	.col-sm-12.col-lg-4.Apply_btn {
		display: flex;
		flex-direction: column;
	}
	.col-sm-12.col-lg-4.Apply_btn .dropdown.global_drop {
		width: 100%;
		margin-left: 0px;
	}
	.Apply_btn .btn.btn-secondary {
		margin: 10px 0px;
		width: 100%;
	}
}