
@font-face {
	font-family: "SF Pro Text";
	src: url(assets/fonts/SF-Pro-Text-Regular.ttf);
}
@font-face {
	font-family: "SF Pro Text Bold";
	src: url(assets/fonts/SF-Pro-Text-Bold.ttf);
}
@font-face {
	font-family: "SF Pro Text Medium";
	src: url(assets/fonts/SF-Pro-Text-Medium.ttf);
}
@font-face {
	font-family: 'Noto Sans Thai Medium';
	src: url(assets/fonts/NotoSansThai-Medium.ttf);
}
@font-face {
	font-family: 'SukhumvitSet-Bold';
	src: url(assets/fonts/SukhumvitSet-Bold.ttf);
}


.body_mian{
    font-family: 'SF Pro Text';
    color: #526484;
	background: #F5F5F5;
}
.body_mian .container {
	max-width: 100% !important;
}
.global_Btn {
	padding: 10px 25px;
	background: #1874FE;
	border: 1px solid #1874FE;
	font-family: "SF Pro Text Bold";
	font-size: 12px;
	line-height: 14px;
}
.global_Btn:hover {
	background-color: #599CFF;
	border-color: #599CFF;
	color: #fff;
}
.grid_view .add_blue_border {
	border-color: #1874FE !important;
}
.header_btn {
	padding: 10px 16px;
}
.body_mian .border{
	border-color: #DCDFE9 !important;
}
.border_radi_10{
	border-radius: 10px !important;
}
.grid_view .on_hover_status {
	position: absolute;
	bottom: 0px;
	right: 12px;
	padding: 1px 30px 1px 12px !important;
	width: max-content !important;
}
.article .row.card_front, 
.article .row.card_back {
	margin: 0px !important;
	padding: 12px;
}
.grid_view .article .card_front img {
	width: 109px !important;
	height: 124px;
	object-fit: cover;
}
.list_view tbody tr img {
	width: 110px;
	height: 125px;
	object-fit: cover;
}
.article .last_modify_text {
	font-family: "SF Pro Text Bold";
}
.text_global_1{
	color: #526484 !important;
}
.text_global_1_hover:hover{
	color: #526484;
}
.heading_h1, 
.heading_h2, 
.heading_h3, 
.heading_h4,
.heading_h5, 
.heading_h6{
	font-family: "SF Pro Text Bold";
	letter-spacing: -0.04em;
	color: #344357;
	margin: 0px;
}
.heading_h1{
	font-size: 32px;
	line-height: 38px;
}
.heading_h2{
	font-size: 24px;
	line-height: 29px;
}
.heading_h3{
	font-size: 18px;
	line-height: 21px;
}
.heading_h4{
	font-size: 13px;
	line-height: 16px;
}
.pera {
	font-size: 13px;
	line-height: 16px;
	margin: 0px;
}
.p_12{
	padding: 12px;
}
.color_all {
	width: 28px;
	height: 28px;
	display: block;
	border-radius: 50%;
	margin: 0px auto;
}
.bg_blue{
	background: #1874FE;
}
.bg_green{
	background: #55E496;
}
.bg_orange{
	background: #F7C46C;
}
.bg_pink{
	background: #FF9191;
}
.text_blue{
	color: #1874FE !important;
}
.text_green{
	color: #55E496 !important;
}
.text_orange{
	color: #F7C46C !important;
}
.text_pink{
	color: #FF9191 !important;
}
.link{
	font-family: "SF Pro Text Bold";
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.04em;
	color: #5a82c5;
	text-decoration: none;
}
.last_modify_text{
	font-size: 12px;
	line-height: 16px;
	color: #526484;
}
.last_modify{
	font-size: 12px;
	line-height: 16px;
	font-family: "SF Pro Text Bold";
}
#searchForm_btn {
	width: auto;
	z-index: 9999;
	background-color: transparent !important;
}
.Apply_btn_00:hover {
	background-color: #1874fe !important;
}
.Apply_btn_00:hover a{
	color: #fff !important;
}
.filter_left {
	display: flex;
}
.filter_left .dropdown.with_123 a {
	max-width: 123px;
	color: #526484;
}
.bg_grey:hover {
	background-color: #F2F7FF !important;
}
.filter_left .global_Btn {
	border-color: #1874fe !important;
	margin: 0px 12px;
	padding: 9px 16px;
}

.list_view .border_style_1 {
	border-radius: 10px !important;
	border: 1px solid #dcdfe9;
}
.custom_dropdown .btn.dropdown-toggle.show::after {
	transform: rotate(180deg);
}
.custom_dropdown .btn.dropdown-toggle.show::after {
	top: 35%;
}
.filter_right {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.custom_dropdown .dropdown-menu {
	border-radius: 0px 0px 5px 4px !important;
	padding: 8px;
	width: 100%;
}
.custom_dropdown .dropdown-menu li a {
	width: 100% !important;
}
.custom_dropdown .btn.dropdown-toggle::after {
	right: 10px;
	position: absolute;
	top: 40%;
	background-image: url('assets/images/chevron-down.png');
	width: 13px;
	height: 9px;
	border: 0px !important;
	background-repeat: no-repeat;
}
.custom_dropdown a {
	font-size: 13px !important;
	text-align: left;
	padding: 8px 10px;
	box-shadow: none !important;
	width: 100%;
	color: #526484 !important;
	font-family: "SF Pro Text Bold";
}
.custom_dropdown a:hover {
	color: #526484;
}
.custom_dropdown .dropdown-menu li a {
	border-radius: 4px !important;
	border: 1px solid transparent;
	font-size: 12px !important;
	font-family: "SF Pro Text Bold";
	padding: 8px 0;
	text-align: center;
	color: #526484;
}
.custom_dropdown .dropdown-menu li a:hover {
	border: 1px solid #e9ecef;
	background-color: #e9ecef;
}
.left_align .dropdown-menu li a {
	text-align: left;
	padding: 8px 10px;
}
.with_123 a {
	width: 123px !important;
}
.with_123 .dropdown-menu {
	min-width: 123px !important;
	width: 123px;
}
.hide_icon {
	display: flex;
}
.hide_icon .dropdown-toggle {
	width: auto !important;
	padding: 0px;
	line-height: 15px;
}
.hide_icon .btn.dropdown-toggle::after {
	display: none;
}
label {
	font-family: "SF Pro Text Bold";
	font-size: 13px !important;
	line-height: 16px !important;
	letter-spacing: -0.04em;
	color: #344357;
}
.width_80 .dropdown-menu {
	min-width: 80px !important;
	border-radius: 4px !important;
}
.advance_search {
	border: 0;
	color: #3a4961 !important;
	font-size: 16px;
	line-height: 16px;
	background-color: transparent !important;
	margin-left: 24px !important;
	display: flex;
	align-items: center;
}
.searchForm_btn_2 {
	position: absolute;
	top: 12px;
}
#searchForm .form-control.border-0.bg-light {
	background-color: #fff !important;
	border: 1px solid #ced4da !important;
	border-right: 0px !important;
	padding-left: 35px !important;
}
.search_back {
	background-image: none !important;
	box-shadow: none !important;
	color: #8094AE !important;
	padding-left: 10px !important;
}
.filter_right i {
	font-size: 16px;
	line-height: 16px;
	color: #8094AE;
}
.article {
	position: relative;
}
.post_page .article {
	position: relative;
	height: 150px;
}
.article .card_back {
	position: absolute;
	width: 100%;
	top: 0px;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #fff;
	border-radius: 4px;
	transition: all 0.3s ease-out;
	opacity: 0;
}
.article:hover .card_back{
	opacity: 1;
}
.article .date {
	font-size: 10px;
}
.active > .page-link, .page-link.active {
	background-color: #689AF4;
	border-color: #689AF4;
}
.width_100 {
	width: 123px;
	text-align: center;
	border-radius: 15px !important;
	padding: 5px 15px;
	margin-left: auto;
}
.ellipsis_on_hover {
	width: 80px;
	margin-left: auto;
	margin-bottom: 45px;
}
.ellipsis_on_hover a.dropdown-toggle {
	text-align: right;
	width: 100% !important;
}
.ellipsis_on_hover a.dropdown-toggle {
	text-align: center;
	width: 45% !important;
	background-color: #dcdfe900 !important;
	padding: 5px 8px;
	font-weight: bold !important;
	margin-left: auto;
}
.ellipsis_on_hover a.dropdown-toggle:hover {
	background-color: #dcdfe9 !important;
}
.width_100 .dropdown-menu {
	min-width: 100px !important;
	border-radius: 10px !important;
}
.article .width_100 a {
	width: 100% !important;
	text-align: left;
	padding: 0px;
}
.pagination li a:hover {
	background-color: #dcdfe9;
	color: #526484;
}
.ellipsis_on_hover .dropdown-menu {
	min-width: 100px !important;
}
.card_back h3 {
	display: flex;
	align-items: flex-end;
}
.global_drop.global_drop_2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bottom_number {
	width: 70px !important;
}
.bottom_number .dropdown-menu {
	min-width: 100% !important;
	border-radius: 4px !important;
}
.pagination li a {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #526484;
	padding: 10px 14px;
}
#datepicker #date {
	font-size: 12px;
	color: #344357;
	padding-left: 0px;
}
#datepicker #date::placeholder {
	color: #344357;
	opacity: 1;	
	font-family: "SF Pro Text bold";
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #dcdfe9;
	outline: 0;
	box-shadow: none !important;
}
.advance_search .custom_dropdown a {
	font-size: 12px !important;
}
.number_drop {
	padding-right: 0px !important;
	font-size: 12px;
}

/*****************
Advance setting modal
*****************/
.advance_search .modal-dialog {
	max-width: 825px;
}
.advance_search:focus {
	border-color: #0a58ca00 !important;
	box-shadow: 0 0 0 .25rem rgba(49, 132, 253, 0) !important;
}
.advance_search .modal-footer {
	justify-content: flex-start;
	border-top: 0px;
	background: #F5F6FB;
	padding-top: 18px;
	padding-bottom: 18px;
}
.advance_search .modal-header {
	border-bottom: 0px;
}
.advance_search .modal-footer .global_Btn {
	padding: 10px 16px;
}
.advance_search .btn-close, .delete_modal .btn-close {
	width: 10px !important;
	height: 16px !important;
	padding: 0px !important;
	margin: 0px !important;
}
.advance_search .btn-close:focus,
.delete_modal .btn-close:focus {
	border-color: #0a58ca00 !important;
	box-shadow: 0 0 0 .25rem rgba(49, 132, 253, 0) !important;
}
.hide_icon::after {
	display: none;
}
#searchForm {
	width: 100% !important;
	position: absolute;
	z-index: 99999;
	top: -3px;
}
.order_listing #searchForm{
	top: -9px;
}
.table_order th, .table_order td {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #3A4961;
	white-space: nowrap;
	vertical-align: middle !important;
}
.check_list{
	vertical-align: middle !important;
}
.list_view .table_order th {
	font-family: "SF Pro Text bold";
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dcdfe9 !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
}
.list_view table {
	margin-bottom: 0px;
}
.list_view  .table_order td {
	padding: 24px;
}
.list_status {
	margin: 0px;
	border-radius: 20px !important;
	padding: 0px 30px 0px 12px !important;
	width: max-content;
}
.list_status .btn.dropdown-toggle {
	padding: 3px 0px;
}
#datepicker i {
	color: #526484;
}
.advance_search .btn-close, .delete_modal .btn-close {
	background-image: none;
	opacity: 1;
	line-height: 10px;
}
.list_modify{
	font-family: "SF Pro Text bold";
}
.check_list {
	display: none;
}
.list_view .table tr:hover .check_list {
	display: inline-block;
}
.delete_modal .modal-footer {
	background: #F5F6FB;
	justify-content: flex-start;
	border-top: 0px;
}
.delete_modal .modal-header {
	border: 0px;
	padding: 24px;
	padding-bottom: 0px;
}
.tabs_mian .nav-link {
	margin: 0px;
	border: 0px !important;
	padding-left: 0;
	padding-right: 24px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.tabs_mian {
	border: 0px;
}
.setting_icon_1 .dropdown-toggle {
	padding-top: 2px;
}
.add_blue_border .card_back {
	opacity: 1;
}
.bg_gray_select {
	background-color: #F2F7FF;
}
.bg_gray_select .check_list {
	display: inline-block;
}
.btn-check:focus + .btn, .btn:focus {
	outline: 0;
	box-shadow: none !important;
}
.advance_search_icon{
	width: auto;
}
.tabs_mian .nav-link.active i {
	color: #1874FE;
}
.img_user_2{
	margin-left: -12px;
}
.grid_view .form-check {
	min-height: 20px !important;
	height: 20px !important;
}
.grid_view .form-check input {
	margin-top: 0px;
}


.list_view_pages .ps-1 {
	padding-left: 0px !important;
}


/*******************
Oder List 
*********************/

.white_group_btn .btn.btn-secondary {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 10px;
	background: #FFFFFF;
	border: 1px solid #DCDFE9;
	border-radius: 4px !important;
	margin-right: 12px;
	font-family: "SF Pro Text Bold";
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #344357;
}
.view_slip_btn {
	background-color: transparent !important;
	border: none !important;
	text-decoration: none;
	border-bottom: 1px solid #3A4961 !important;
	line-height: 15px;
	font-size: 12px;
	color: #3A4961 !important;
	white-space: nowrap;
	padding: 0px !important;
	font-family: "SF Pro Text Bold";
	border-radius: 0px !important;
}
.table_order_list th {
	font-family: "SF Pro Text bold";
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-color: #dcdfe9 !important;
}
.text-center .plus_center {
	width: 22px;
	margin: 0px auto;
	padding: 4px;
}
.status span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	background: #FFC96B;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.status .orange {
	background: #FFC96B;
}
.status .pink_light {
	background: #FFB0B0;
}
.status .blue_light {
	background: #91E0D6;
}
.plus_center::after {
	display: none;
}
.accordion-button:focus {
	z-index: 3;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0) !important;
}
.order_listing .dropdown-toggle {
	padding-top: 0px;
}
.view_slip_modal .btn-close {
	position: absolute;
	right: -22px;
	background: none;
	color: #fff !important;
	opacity: 1;
	top: 0;
	padding: 0px;
	font-size: 13px;
	height: auto;
}
.view_slip_modal .modal-content {
	background-color: transparent !important;
	border: 0px !important;
}
.bg_blue_btn .active{
	background-color: #689AF4 !important;
	color: #fff !important;
	border-color: #689AF4 !important;
}
.table_order_list th .form-check-input, 
.table_order_list td .form-check-input {
	border: 2px solid #689AF4;
	border-radius: 4px !important;
}


/*******************
Attribute page
*********************/

.attribute_top_btn .white_group_btn button.btn.btn-secondary {
	border-color: #1874FE;
	padding: 4px 10px;
}
.attribute_top_btn .white_group_btn button.btn.btn-secondary.active {
	border-color: #1874FE;
	background-color: #1874FE !important;
	padding: 4px 10px;
}
.attribute_top_btn .white_group_btn button.btn.btn-secondary a{
	color: #526484;
	font-size: 12px;
}
.attribute_top_btn .white_group_btn button.btn.btn-secondary.active a{
	color: #fff;
}
.table_attribute td {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #526484;
	white-space: nowrap;
	vertical-align: middle !important;
	padding: 25px;
}
.table_attribute .bold {
	font-family: "SF Pro Text bold";
}
.table_attribute tr:hover {
	background-color: #DCDFE9;
}
.table_attribute .edit_delete i {
	margin: 0px 10px;
	font-size: 14px;
	color: #344357;
}
.border_radi_10{
	border-radius: 10px;
}
.setting_icon_attri {
	width: 16px !important;
	margin-left: auto;
}
.setting_icon_attri i{
	font-size: 16px;
	color: #344357;
}
.setting_icon_attri .dropdown-toggle {
	padding-top: 0;
}
.body_mian .table {
	margin-bottom: 0px !important;
	border-bottom: transparent;
}
.edit_delete {
	display: flex;
	justify-content: flex-end;
	opacity: 0;
}
.table_attribute .edit_table_btn {
	background-color: transparent !important;
	line-height: 1;
	padding: 0px !important;
	font-size: 13px;
}
.table_attribute tr:hover .edit_delete {
	opacity: 1;
}
.btn_sty_3 {
	padding: 0px;
}
.btn_sty_3 a {
	color: #1874FE;
}

.add_arrribute_popup .form-control {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #A9A9A9;
	padding: 9px 12px;
}
.add_arrribute_popup .label_outer {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.add_arrribute_popup .modal-header {
	flex-direction: column;
	align-items: baseline;
	border: 0px;
	padding: 24px;
	padding-bottom: 0px;
}
.add_arrribute_popup .btn-close {
	right: 24px;
	top: 24px;
	position: absolute;
}
.add_arrribute_popup label {
	font-family: "SF Pro Text bold";
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.04em;
	color: #344357;
	margin-bottom: 8px;
}
.list_color_tabs {
	border: 0px;
}
.list_color_tabs .nav-item {
	width: 50%;
}
.list_color_tabs .nav-item .active {
	border: 1px solid #1874FE !important;
	border-radius: 4px !important;
}
.list_color_tabs .nav-item .nav-link {
	border: 1px solid #DCDFE9;
	border-radius: 4px;
	width: 100%;
	font-size: 12px;
	color: #526484;
	padding: 9px 10px;
}
.list_color_tabs .nav-item .nav-link i {
	margin-right: 1px;
}
.text_limit {
	text-align: right;
	margin-bottom: 15px;
}
.add_arrribute_popup .input_group .input-group-text {
	background-color: transparent;
	font-family: "SF Pro Text bold";
	font-size: 12px;
	line-height: 14px;
	color: #1874FE;
}
.add_arrribute_popup .input_group .form-control {
	border-right: 0px;
}

/*************
Product Page
*************/

@font-face {
    font-family:"Sukhumvit Set";
    src: url(assets/fonts/Sukhumvit-Set/SukhumvitSet-Medium.ttf);
}

.circle {
    width:12px;
    height:12px;
    background-color:#344357;
    border-radius:50%;
	transform:translateY(3px);
}

.general-text,#value,#cate,input,#textarea-field{
	font-size:12px !important;
}

#cate{
	transform:translateY(-2px);
}

/* Checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1874FE;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1874FE;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dropdown-toggle.tg-right::after {
	position: relative;
	top: 8px;
	float: right;
	background-image: url('assets/images/chevron-right.png');
	width: 9px;
	height: 13px;
	border: 0px !important;
	background-repeat: no-repeat;
}

.dropdown-toggle.tg-right.active::after {
	position: relative;
	top: 8px;
	float: right;
	background-image: url('assets/images/chevron-right-active.png');
	width: 9px;
	height: 13px;
	border: 0px !important;
	background-repeat: no-repeat;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-close:focus{
    box-shadow:none !important;
}

.no-border-btn{
    border:none;
}

.user{padding:8px}

.user:not(:first-child){
    margin-left:-4px;
}

.user-one {
    background-color:#FFC96B;
}

.user-two {
    background-color:#FFC4B0;
}

.user-three {
    background-color:#91E0D6;
}

#noti {
    font-size:0.6em;
    transform:translate(-25%, -50%)
}

#pricing-block {
    color:inherit;
    font-size:12px;
    background-color:#B0C1FF;
    vertical-align:middle;
}

#textarea-field {
    border-radius:0 0 10px 10px;
    height:400px
}

.table-no-border-bottom {
    border-radius:10px 10px 0 0;
    border-bottom:none !important;
}

.font-styles {
    display:flex;
    justify-content: space-around;
}

.font-styles i {
    cursor:pointer;
    font-size:18px;
}

.general {
    color:inherit;
    font-size:16px;
    background-color:#D9D9D9;
    transform:translateY(-8%);
}

.btn-group {
    transform:translateY(8%);
}

.btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn{
    margin-left:0;
}

.btn-selected,.btn-selected:hover,.btn-selected:active,.btn-selected:focus {
    border:1px solid #1874FE !important;
}

.img-of-variant {
    width:120px;
}

.option-values {
    color:inherit;
    background-color:#D9D9D9;
    margin-bottom:0;
    margin-left:8px;
}

.option-values:first-child{
    margin-left:0;
}

.disabled-baht {
    background-color:#e9ecef !important;
}

.no-bg {
    background-color:inherit;
}

.no-border-left{
    border-left:none;
    padding-left:0;
}

#option-value {
    border-left:none;
    border-right:none;
}

#categories-search{
    border-right:none;
}

#categories-insert{
    transform:translateY(8%);
}

.btn-close-sm {
	background: url(assets/images/xmark.png) !important;
	background-repeat: no-repeat !important;
    background-position: center center !important;
}

.btn-append,.btn-append:hover,.btn-append:active,.btn-append:focus {
    border-color:#ced4da !important;
    border-radius:0 10px 10px 0;
    border-left:none;
    padding-right:20px;
}

.bg-add-image {
    background-color: #F2F7FF;
    padding:150px 0;
}

.bg-add-image.sm{
    padding:51px 0;
}

table {
    border-collapse:collapse;
    border-radius:10px;
    box-shadow:0 0 0 1px #ced4da;
}

@media (min-width:768px){
    .right-col {
        margin:0 -15px 0 15px;
        width:24.5%
    }
}

/***********
Category page
*************/
.cate_header {
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 18px;
	border-radius: 8px;
	background-position: center center;
}
.cate_info {
	min-height: 240px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: "SF Pro Text bold";
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	border-radius: 8px;
	position: relative;
}
.cat-info-new a {
	font-family: 'SukhumvitSet-Bold';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
}
.add_new_cat .cate_info {
	background: transparent;
	box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
}
.add_new_cat .cate_info a {
	font-size: 18px;
}
.common_input .form-control {
	padding: 9px 12px;
	font-size: 12px;
	line-height: 16px;
	color: #A9A9A9;
}
.common_input .form-control::placeholder {
	color: #A9A9A9;
	opacity: 1;
}
.common_input {
	margin: 8px 0px;
}

.box_img_upload {
	height: 141px;
	background: #F2F7FE;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-size: 12px;
	line-height: 20px;
	color: #344357;
}
.searh_order th, .searh_order td {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #3A4961;
	white-space: nowrap;
	vertical-align: middle !important;
}
.searh_order tr:hover .edit_delete {
	opacity: 1;
}
.searh_order th {
	font-size: 13px;
	font-family: "SF Pro Text bold";
	border-color: #dcdfe9 !important;
	padding: 13px 8px;
}
.searh_order .table {
	margin-bottom: 0px !important;
}
.delete_modal {
	z-index: 999999;
}
.add_task .btn_sty_2 {
	margin-left: auto;
	margin-right: 17px;
}
.categorysetting .add_task {
	display: flex;
	justify-content: flex-end;
}
.categorysetting .add_task button.btn_sty_1 {
	margin-right: 4px;
	margin-left: 13px;
}
.font_12{
	font-size: 12px !important;
}
.line_height_20{
	line-height: 20px;
}
.searh_order .form-check-input {
	border-color: #1874FE;
}
.font_13{
	font-size: 13px !important;
}
.label_13 {
	font-size: 13px !important;
	line-height: 16px;
	font-family: "SF Pro Text Medium" !important;
	color: #526484;
	font-weight: 600;
	margin-bottom: 6px;
}
.cust_search .form-control {
	border-right: 0px !important;
}
.cust_search i {
	color: #526484;
}
.nato {
	font-family: 'Noto Sans Thai Medium' !important;
	font-weight: 600 !important;
}
.color_344357 {
	color: #344357 !important;
}
.color_526484{
	color: #526484 !important;
}
.SukhumvitSet{
	font-family: 'SukhumvitSet-Bold';
}
.thai{
	font-family: 'SukhumvitSet-Bold';
}
.back_cate {
	background-color: transparent;
	box-sizing: border-box;
	padding: 5px 11px;
}
.back_cate a {
	font-size: 12px;
	line-height: 14px;
	color: #526484;
}
.back_cate:hover a{
	color: #ffffff;
}
.cate_edit_btn_grop .btn.btn-secondary a {
	color: #344357;
}
.cate_edit_btn_grop .btn.btn-secondary {
	margin-right: 0px;
	margin-left: 17px;
	padding: 8px 21px !important;
}

.delete_modal .modal-dialog {
	align-self: center;
}

/***********
Category page
*************/
.category_add_popup .modal-footer {
	border-bottom-right-radius: calc(10px - 0px);
	border-bottom-left-radius: calc(10px - 0px);
}
.category_add_popup .new-modal-title {
	font-family: "SF Pro Text bold";
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.04em;
	color: #344357;
}
.category_add_popup .modal-dialog {
	max-width: 464px;
}
.category_add_popup .modal-header {
	flex-direction: row;
	align-items: center;
}
.post_cout .bg_green {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	border-radius: 20px;
	display: block;
}
.post_cout > div {
	font-family: "SF Pro Text Bold";
	font-weight: 500;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #344357;
}
.cate_page_tree_head .row div {
	font-family: "SF Pro Text Bold";
	color: #526484;
	padding: 12px;
}
.pages_list_outer .width_80 {
	margin-right: 17px;
}
.pages_list_outer .row {
	padding: 12px 0px;
}
.pages_list_outer_child .div.border {
	padding-left: 50px !important;
}
.pages_list_outer_has_child .div.border {
	padding-left: 50px !important;
}
.cate_page_tree_head {
	border-bottom: 1px solid #dcdfe9;
}
.pages_list_outer .last_div {
	width: 8%;
}
.pages_list_outer .col-lg-9 {
	width: 80%;
}
.pages_list_outer .col-lg-10 {
	width: 77%;
}
.has_child .width_130 {
	width: 7% !important;
}
.cate_page_tree_head .col-lg-9 {
	width: 80%;
}
.cate_page_tree_head .last_div {
	width: 8% !important;
}
.pages_list_main .width_75 .accordion-button.plus_center i {
	color: #8094AE;
}
.filter_right .nav-tabs {
	border: 0px;
}
.filter_right .nav-tabs .nav-link.active::after {
	display: none;
}


/***********
Coupo page
*************/
.list_view .coupon_order td {
	color: #344357;
}
.list_view .coupon_order th {
	color: #526484;
	font-size: 12px;
}
.coupon_order .user span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.bg_grey_user{
	background: #D9D9D9;
}
.coupon_order tr {
	border-bottom: 1px solid #dcdfe9;
}
.coupon_order tr:last-child {
	border-bottom: transparent;
}
.img_desc_coupon_icon {
	display: flex;
	align-items: center;
}
.coupon_icon_img .img_bg {
	background: #B0C1FF;
	padding: 6px;
	border-radius: 50%;
	width: 26px;
	height: 26px;
}
.bg_purple .img_bg {
	background: #B0C1FF;
}
.coupon_icon_img {
	display: flex;
	align-items: center;
	border-radius: 31px;
	padding: 1px 6px 1px 4px;
}
.bg_purple:hover {
	background: #B0C1FF;
}
.img_desc_coupon_icon .form-check-input {
	margin-top: 0px;
}
.coupon_order thead .code_th {
	padding-left: 79px !important;
}
.delete_modal .bg-transparent:hover {
	background-color: #1874fe !important;
	color: #fff !important;
}
.bg_purple_light .img_bg{
	background: #C9B0FF;
}
.bg_purple_light:hover{
	background: #C9B0FF;
}
.bg_purple_dark .img_bg{
	background: #7D8CFF;
}
.bg_purple_dark:hover{
	background: #7D8CFF;
}
/***********
Pages Catgories 
*************/

.check_left_cat {
	display: inline-block;
	width: 21px;
}
.list_view_pages .pages_cat_table .ps-1 {
	padding-left: 10px !important;
}
.pages_cat_table .user span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.pages_cat_table tr {
	border-bottom: 1px solid #dcdfe9;
}
.pages_cat_table tr:last-child {
	border-bottom: transparent;
}
.list_view .table_order .pages_cat_table th,
.list_view .table_order .pages_cat_table td {
	color: #526484;
}
.list_view .table_order .collapse_area td {
	padding: 10px 20px;
}
.open_left {
	display: flex;
}
.pages_list_main .width_75 .accordion-button.plus_center {
	background-image: none !important;
	background-color: transparent;
	border: 0px !important;
	box-shadow: none !important;
	display: flex;
	justify-content: center;
}
.pages_list_main .width_75 {
	width: 4%;
}
.has_sub_child .width_130 {
	width: 10%;
}
.has_sub_child .col-lg-10 {
	width: 74%;
}
.has_child .row .left_child_line::after {
	content: "";
	height: 64px;
	border: 1px solid #dcdfe9;
	position: absolute;
	right: 20px;
	top: -12px;
}
.left_child_line {
	position: relative;
	height: 40px;
}
.has_child .row:last-child .left_child_line::after {
	display: none;
}



@media only screen and (max-width: 1200px)  {
	.table_img{
		min-width: 100px;
	}
}


@media only screen and (max-width: 991px)  {
	.article {
		margin-bottom: 15px;
	}
	.grid_view .ellipsis_on_hover {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 9999999;
	}
	.box_filter {
		margin-bottom: 15px !important;
	}
	.white_group_btn {
		display: flex;
		flex-wrap: wrap;
	}
	.white_group_btn .btn.btn-secondary {
		width: 20%;
		margin-bottom: 15px;
	}
	.icon_right {
		margin-top: 18px;
	}
	.global_drop.global_drop_2 {
		justify-content: flex-start;
		padding-left: 18px;
	}
}   

@media only screen and (min-width: 991px)  {
	.post_grid .article {
		height: 150px;
	}
}
@media only screen and (max-width: 767px)  {
	.col-sm-12.col-lg-4.Apply_btn {
		display: flex;
		flex-direction: column;
	}
	.col-sm-12.col-lg-4.Apply_btn .dropdown.global_drop {
		width: 100%;
		margin-left: 0px;
	}
	.Apply_btn .btn.btn-secondary {
		margin: 10px 0px;
		width: 100%;
	}
	.white_group_btn .btn.btn-secondary {
		width: 50%;
		margin-bottom: 15px;
	}
	.white_group_btn {
		justify-content: space-between;
	}
	.white_group_btn .btn.btn-secondary {
		max-width: 49%;
		margin-bottom: 15px;
		width: 100% !important;
		margin-right: 0px !important;
	}
}
