@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@font-face {
	font-family: "SF Pro Text";
	src: url(assets/fonts/SF-Pro-Text-Regular.ttf);
}
@font-face {
	font-family: "SF Pro Text Bold";
	src: url(assets/fonts/SF-Pro-Text-Bold.ttf);
}
@font-face {
	font-family: "SF Pro Text Medium";
	src: url(assets/fonts/SF-Pro-Text-Medium.ttf);
}
@font-face {
	font-family: 'Noto Sans Thai Medium';
	src: url(assets/fonts/NotoSansThai-Medium.ttf);
}
@font-face {
	font-family: 'SukhumvitSet-Bold';
	src: url(assets/fonts/SukhumvitSet-Bold.ttf);
}



.body_mian{    
	font-family: 'Inter', sans-serif;
    color: #060606;
	background: #ffffff;
}
.body_mian .container {
	max-width: 100% !important;
}
.Space_Grotesk{
	font-family: 'Space Grotesk', sans-serif !important;
}
.inter{
	font-family: 'Inter', sans-serif !important;
}
.global_Btn {
	padding: 10px 25px;
	background: #000000;
	border: 1px solid #000000;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
}
.global_Btn:focus {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
	box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.5);
}
.global_Btn:hover {
	background-color: #404040;;
	border-color: #404040;
	color: #fff;
}
.dropdown-item:focus {
	color: #1e2125;
	background-color: #ffffff;
}
.product_layout .row .add_blue_border {
	border-color: #7F56D9 !important;
}
.header_btn {
	padding: 10px 16px;
}
.body_mian .border{
	border-color: #DCDFE9 !important;
}
.border_radi_10{
	border-radius: 10px !important;
}
.border_radi_16{
	border-radius: 10px !important;
}
.grid_view .on_hover_status {
	position: absolute;
	bottom: 12px;
	right: 12px;
	padding: 0 !important;
	width: max-content !important;
}
body.body_mian .border {
	border:1px solid #DCDFE9 !important;
}
.article .last_modify_text {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.advance_search .no_border_borrom .dropdown-menu li a {
	color: #060606;
	font-family: 'Inter', sans-serif;
}
.text_global_1{
	color: #526484 !important;
}
.text_global_1_hover:hover{
	color: #526484;
}
.heading_h1, 
.heading_h2, 
.heading_h3, 
.heading_h4,
.heading_h5, 
.heading_h6{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: -0.04em;
	color: #060606;
	margin: 0px;
}
.heading_h1{
	font-size: 32px;
	line-height: 38px;
}
.heading_h2 {
	font-size: 32px;
	line-height: 48px;
}
.heading_h3{
	font-size: 18px;
	line-height: 27px;
}
.heading_h4{
	font-size: 14px;
	line-height: 16px;
}
.pera {
	font-size: 13px;
	line-height: 16px;
	margin: 0px;
}
.p_12{
	padding: 12px;
}
.color_all {
	width: 28px;
	height: 28px;
	display: block;
	border-radius: 50%;
	margin: 0px auto;
}
.red_glob_btn {
	background: #FF3030;
	border-radius: 4px !important;
	border-color: #FF3030;
	padding: 10px 15px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}
.cancel_btn {
	background-color: #B1B1B1 !important;
	color: #fff !important;
	border-color: #B1B1B1 !important;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	padding: 10px 16px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
}
.cancel_btn:hover {
	background-color: #D0D0D0 !important;
	border-color: #D0D0D0 !important;
}
.red_glob_btn:hover {
	background-color: #FE7272;
	border-color: #FE7272;
}
.bg_blue{
	background: #1874FE;
}
.bg_green{
	background: #12B76A;
}
.bg_orange{
	background: #FFAB00;
}
.bg_dark_pink{
	background-color: #D64752;
}
.text_dark_pink{
	color: #D64752 !important;
}
.bg_pink{
	background: #FF9191;
}
.gray_text{
	color: #808080 !important;
}
.text_blue{
	color: #1874FE !important;
}
.text_green{
	color: #12B76A !important;
}
.bg_red{
	background: #FF3030 !important;
}
.text_orange{
	color: #FFAB00 !important;
}
.text_gray{
	color: #808080 !important;
}
.text_pink{
	color: #FF9191 !important;
}
.bg_gray{
	background-color: #808080;
}
.bg_light_gray{
	background-color: #FCFCFD;
}
.text_purple{
	color: #6941C6;
}
.Poppins{
	font-family: 'Poppins', sans-serif !important;
}
.grey_btn {
	background-color: #B1B1B1;
	border-color: #B1B1B1;
}
.grey_btn:hover {
	background-color: #B1B1B1;
	border-color: #B1B1B1;
}
.link{
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.04em;
	color: #5a82c5;
	text-decoration: none;
}
.last_modify_text{
	font-size: 12px;
	line-height: 16px;
	color: #060606;
	font-family: 'Poppins', sans-serif;
}
.last_modify{
	font-size: 12px;
	line-height: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
#searchForm_btn {
	width: auto;
	z-index: 9999;
	background-color: transparent !important;
}
.Apply_btn_00:hover {
	background-color: #1874fe !important;
}
.Apply_btn_00:hover a{
	color: #fff !important;
}
.filter_left {
	display: flex;
}
.filter_left .dropdown.with_123 a {
	max-width: 123px;
	color: #526484;
}
.bg_grey:hover {
	background-color: #F2F7FF !important;
}
.filter_left .global_Btn {
	border-color: #1874fe !important;
	margin: 0px 12px;
	padding: 9px 16px;
}

.list_view .border_style_1 {
	border-radius: 10px !important;
	border: 1px solid #dcdfe9;
}
.custom_dropdown .btn.dropdown-toggle.show::after {
	transform: rotate(180deg);
}
.custom_dropdown .btn.dropdown-toggle.show::after {
	top: 35%;
}
.filter_right {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.custom_dropdown .dropdown-menu {
	border-radius: 0px 0px 5px 4px !important;
	padding: 8px;
	width: 100%;
}
.custom_dropdown .dropdown-menu li a {
	width: 100% !important;
}
.custom_dropdown .btn.dropdown-toggle::after {
	right: 10px;
	position: absolute;
	top: 40%;
	background-image: url('assets/images/chevron-down.png');
	width: 13px;
	height: 9px;
	border: 0px !important;
	background-repeat: no-repeat;
}
.custom_dropdown .dropdown-toggle {
	font-size: 13px !important;
	text-align: left;
	padding: 8px 10px;
	box-shadow: none !important;
	width: 100%;
	color: #526484 !important;
	font-family: 'Poppins', sans-serif;
	padding: 1px 30px 1px 12px !important;
}
.custom_dropdown a:hover {
	color: #526484;
}
.custom_dropdown .dropdown-menu li a {
	border-radius: 4px !important;
	border: 1px solid transparent;
	font-size: 12px !important;
	font-family: 'Poppins', sans-serif;
	padding: 8px 0 !important;
	text-align: center;
	color: #526484;
}
.custom_dropdown .dropdown-menu li a:hover {
	border: 1px solid #e9ecef;
	background-color: #e9ecef;
}
.left_align .dropdown-menu li a {
	text-align: left;
	padding: 8px 10px;
}
.with_123 a {
	width: 123px !important;
}
.with_123 .dropdown-menu {
	min-width: 123px !important;
	width: 123px;
}
.hide_icon {
	display: flex;
}
.hide_icon .dropdown-toggle {
	width: auto !important;
	padding: 0px;
	line-height: 15px;
}
.hide_icon .btn.dropdown-toggle::after {
	display: none;
}
label {
	font-family: 'Poppins', sans-serif;
	font-size: 13px !important;
	line-height: 16px !important;
	letter-spacing: -0.04em;
	color: #060606;
	font-weight: 600;
}
.advance_search .btn.dropdown-toggle {
	font-weight: 400;
	font-size: 12px !important;
	line-height: 16px;
	color: #060606 !important;
}
.advance_search .dropdown-menu li a {
	padding: 12px 10px !important;
}
.advance_search .modal-content {
	border: 1px solid #DCDFE9;
	border-radius: 10px;
}
.width_80 .dropdown-menu {
	min-width: 80px !important;
	border-radius: 4px !important;
}
.advance_search {
	line-height: 16px;
	font-size: 16px;
	color: #3A4961 !important;
	border: 0px;
}
.searchForm_btn_2 {
	position: absolute;
	top: 12px;
}
#searchForm .form-control.border-0.bg-light {
	background-color: #fff !important;
	border: 1px solid #ced4da !important;
	border-right: 0px !important;
	padding-left: 35px !important;
}
.search_back {
	background-image: none !important;
	box-shadow: none !important;
	color: #8094AE !important;
	padding-left: 10px !important;
}
.filter_right i {
	font-size: 16px;
	line-height: 16px;
	color: #8094AE;
}
.article {
	position: relative;
}
.post_page .article {
	position: relative;
	height: 150px;
}
.article .card_back {
	position: absolute;
	width: 100%;
	top: 0px;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #fff;
	border-radius: 4px;
	transition: all 0.3s ease-out;
	opacity: 0;
}
.article:hover .card_back{
	opacity: 1;
}
.article .date {
	font-size: 10px;
}
.active > .page-link, .page-link.active {
	background-color: #689AF4;
	border-color: #689AF4;
}
.width_100 {
	width: 123px;
	text-align: center;
	border-radius: 15px !important;
	padding: 5px 15px;
	margin-left: auto;
}
.ellipsis_on_hover {
	width: 80px;
	margin-left: auto;
	margin-bottom: 45px;
}
.ellipsis_on_hover a.dropdown-toggle {
	padding: 5px 8px !important;
}
.ellipsis_on_hover a.dropdown-toggle {
	text-align: center;
	width: 45% !important;
	background-color: #dcdfe900 !important;
	padding: 5px 8px;
	font-weight: bold !important;
	margin-left: auto;
}
.ellipsis_on_hover a.dropdown-toggle:hover {
	background-color: #dcdfe9 !important;
}
.width_100 .dropdown-menu {
	min-width: 100px !important;
	border-radius: 10px !important;
}
.article .width_100 .dropdown-toggle {
	width: 100% !important;
	text-align: left;
	padding: 0px;
}
.pagination li a:hover {
	background-color: #dcdfe9;
	color: #526484;
}
.ellipsis_on_hover .dropdown-menu {
	min-width: 100px !important;
}
.card_back h3 {
	display: flex;
	align-items: flex-end;
}
.global_drop.global_drop_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.bottom_number {
	width: 70px !important;
}
.bottom_number .dropdown-menu {
	min-width: 100% !important;
	border-radius: 4px !important;
}
.pagination li a {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #526484;
	padding: 10px 14px;
}
#datepicker #date {
	font-size: 12px;
	color: #344357;
	padding-left: 0px;
}
#datepicker #date::placeholder {
	color: #344357;
	opacity: 1;	
	font-family: 'Poppins', sans-serif;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #dcdfe9;
	outline: 0;
	box-shadow: none !important;
}
.advance_search .custom_dropdown a {
	font-size: 12px !important;
}
.number_drop {
	padding-right: 0px !important;
	font-size: 12px;
}

/*****************
Advance setting modal
*****************/
.advance_search .modal-dialog {
	max-width: 825px;
}
.advance_search:focus {
	border-color: #0a58ca00 !important;
	box-shadow: 0 0 0 .25rem rgba(49, 132, 253, 0) !important;
}
.advance_search .modal-footer {
	justify-content: flex-start;
	border-top: 0px;
	background: #F5F6FB;
	padding-top: 18px;
	padding-bottom: 18px;
}
.advance_search .modal-header {
	border-bottom: 0px;
}
.advance_search .modal-footer .global_Btn {
	padding: 10px 16px;
}
.advance_search .btn-close, .delete_modal .btn-close {
	width: 10px !important;
	height: 16px !important;
	padding: 0px !important;
	margin: 0px !important;
}
.advance_search .btn-close:focus,
.delete_modal .btn-close:focus {
	border-color: #0a58ca00 !important;
	box-shadow: 0 0 0 .25rem rgba(49, 132, 253, 0) !important;
}
.hide_icon::after {
	display: none;
}
#searchForm {
	width: 100% !important;
	position: absolute;
	z-index: 99999;
	top: -3px;
}
.order_listing #searchForm{
	top: -9px;
}
.table_order th, .table_order td {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #3A4961;
	white-space: nowrap;
	vertical-align: middle !important;
}
.check_list{
	vertical-align: middle !important;
}
.list_view .table_order th {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dcdfe9 !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
}
.list_view table {
	margin-bottom: 0px;
}
.list_view  .table_order td {
	padding: 24px;
}
.list_status {
	margin: 0px;
	border-radius: 20px !important;
	padding: 0px !important;
	width: max-content;
}
.list_status .btn.dropdown-toggle {
	padding: 3px 30px 3px 12px !important;
}
#datepicker i {
	color: #526484;
}
.advance_search .btn-close, .delete_modal .btn-close {
	background-image: none;
	opacity: 1;
	line-height: 10px;
}
.list_modify{
	font-family: 'Poppins', sans-serif;
}
.check_list {
	display: none;
}
.list_view .table tr:hover .check_list {
	display: inline-block;
}
.delete_modal .modal-footer {
	background: #F5F6FB;
	justify-content: flex-start;
	border-top: 0px;
}
.delete_modal .modal-header {
	border: 0px;
	padding: 24px;
	padding-bottom: 0px;
}
.tabs_mian .nav-link {
	margin: 0px;
	border: 0px !important;
	padding-left: 0;
	padding-right: 24px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.tabs_mian {
	border: 0px;
}
.setting_icon_1 .dropdown-toggle {
	padding-top: 2px;
}
.add_blue_border .card_back {
	opacity: 1;
}
.bg_gray_select {
	background-color: #F2F7FF;
}
.bg_gray_select .check_list {
	display: inline-block;
}
.btn-check:focus + .btn, .btn:focus {
	outline: 0;
	box-shadow: none !important;
}
.advance_search_icon{
	width: auto;
}
.tabs_mian .nav-link.active i {
	color: #5200FF;
}
.img_user_2{
	margin-left: -12px;
}
.grid_view .form-check {
	min-height: 20px !important;
	height: 20px !important;
}
.grid_view .form-check input {
	margin-top: 0px;
}


.list_view_pages .ps-1 {
	padding-left: 0px !important;
}


/*******************
Oder List 
*********************/

.white_group_btn .btn.btn-secondary {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 10px;
	background: #FFFFFF;
	border: 1px solid #DCDFE9;
	border-radius: 4px !important;
	margin-right: 12px;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #344357;
}
.view_slip_btn {
	background-color: transparent !important;
	border: none !important;
	text-decoration: none;
	border-bottom: 1px solid #3A4961 !important;
	line-height: 15px;
	font-size: 12px;
	color: #3A4961 !important;
	white-space: nowrap;
	padding: 0px !important;
	font-family: 'Poppins', sans-serif;
	border-radius: 0px !important;
}
.table_order_list th {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-color: #dcdfe9 !important;
}
.text-center .plus_center {
	width: 22px;
	margin: 0px auto;
	padding: 4px;
}
.status span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	background: #FFC96B;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.status .orange {
	background: #FFC96B;
}
.status .pink_light {
	background: #FFB0B0;
}
.status .blue_light {
	background: #91E0D6;
}
.plus_center::after {
	display: none;
}
.accordion-button:focus {
	z-index: 3;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0) !important;
}
.order_listing .dropdown-toggle {
	padding-top: 0px;
}
.view_slip_modal .btn-close {
	position: absolute;
	right: -22px;
	background: none;
	color: #fff !important;
	opacity: 1;
	top: 0;
	padding: 0px;
	font-size: 13px;
	height: auto;
}
.view_slip_modal .modal-content {
	background-color: transparent !important;
	border: 0px !important;
}
.bg_blue_btn .active{
	background-color: #689AF4 !important;
	color: #fff !important;
	border-color: #689AF4 !important;
}
.table_order_list th .form-check-input, 
.table_order_list td .form-check-input {
	border: 2px solid #689AF4;
	border-radius: 4px !important;
}


/*******************
Attribute page
*********************/

.attribute_top_btn .white_group_btn button.btn.btn-secondary {
	border-color: #1874FE;
	padding: 4px 10px;
}
.attribute_top_btn .white_group_btn button.btn.btn-secondary.active {
	border-color: #1874FE;
	background-color: #1874FE !important;
	padding: 4px 10px;
}
.attribute_top_btn .white_group_btn button.btn.btn-secondary a{
	color: #526484;
	font-size: 12px;
}
.attribute_top_btn .white_group_btn button.btn.btn-secondary.active a{
	color: #fff;
}
.table_attribute td {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #526484;
	white-space: nowrap;
	vertical-align: middle !important;
	padding: 25px;
}
.table_attribute .bold {
	font-family: 'Poppins', sans-serif;
}
.table_attribute tr:hover {
	background-color: #DCDFE9;
}
.table_attribute .edit_delete i {
	margin: 0px 10px;
	font-size: 14px;
	color: #344357;
}
.border_radi_10{
	border-radius: 10px;
}
.setting_icon_attri {
	width: 16px !important;
	margin-left: auto;
}
.setting_icon_attri i{
	font-size: 16px;
	color: #344357;
}
.setting_icon_attri .dropdown-toggle {
	padding-top: 0;
}
.body_mian .table {
	margin-bottom: 0px !important;
	border-bottom: transparent;
}
.edit_delete {
	display: flex;
	justify-content: flex-end;
	opacity: 0;
}
.table_attribute .edit_table_btn {
	background-color: transparent !important;
	line-height: 1;
	padding: 0px !important;
	font-size: 13px;
}
.table_attribute tr:hover .edit_delete {
	opacity: 1;
}
.btn_sty_3 {
	padding: 0px;
}
.btn_sty_3 a {
	color: #1874FE;
}

.add_arrribute_popup .form-control {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #A9A9A9;
	padding: 9px 12px;
}
.add_arrribute_popup .label_outer {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.add_arrribute_popup .modal-header {
	flex-direction: column;
	align-items: baseline;
	border: 0px;
	padding: 24px;
	padding-bottom: 0px;
}
.add_arrribute_popup .btn-close {
	right: 24px;
	top: 24px;
	position: absolute;
}
.add_arrribute_popup label {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.04em;
	color: #344357;
	margin-bottom: 8px;
}
.list_color_tabs {
	border: 0px;
}
.list_color_tabs .nav-item {
	width: 50%;
}
.list_color_tabs .nav-item .active {
	border: 1px solid #1874FE !important;
	border-radius: 4px !important;
}
.list_color_tabs .nav-item .nav-link {
	border: 1px solid #DCDFE9;
	border-radius: 4px;
	width: 100%;
	font-size: 12px;
	color: #526484;
	padding: 9px 10px;
}
.list_color_tabs .nav-item .nav-link i {
	margin-right: 1px;
}
.text_limit {
	text-align: right;
	margin-bottom: 15px;
}
.add_arrribute_popup .input_group .input-group-text {
	background-color: transparent;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #1874FE;
}
.add_arrribute_popup .input_group .form-control {
	border-right: 0px;
}

/***********
Category page
*************/
.cate_header {
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 18px;
	border-radius: 8px;
	background-position: center center;
}
.cate_info {
	min-height: 240px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	border-radius: 8px;
	position: relative;
}
.cat-info-new a {
	font-family: 'SukhumvitSet-Bold';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
}
.add_new_cat .cate_info {
	background: transparent;
	box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
}
.add_new_cat .cate_info a {
	font-size: 18px;
}
.common_input .form-control {
	padding: 9px 12px;
	font-size: 12px;
	line-height: 16px;
	color: #A9A9A9;
}
.common_input .form-control::placeholder {
	color: #A9A9A9;
	opacity: 1;
}
.common_input {
	margin: 8px 0px;
}

.box_img_upload {
	height: 141px;
	background: #F2F7FE;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-size: 12px;
	line-height: 20px;
	color: #344357;
}
.searh_order th, .searh_order td {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #3A4961;
	white-space: nowrap;
	vertical-align: middle !important;
}
.searh_order tr:hover .edit_delete {
	opacity: 1;
}
.searh_order th {
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	border-color: #dcdfe9 !important;
	padding: 13px 8px;
}
.searh_order .table {
	margin-bottom: 0px !important;
}
.delete_modal {
	z-index: 999999;
}
.add_task .btn_sty_2 {
	margin-left: auto;
	margin-right: 17px;
}
.categorysetting .add_task {
	display: flex;
	justify-content: flex-end;
}
.categorysetting .add_task button.btn_sty_1 {
	margin-right: 4px;
	margin-left: 13px;
}
.font_12{
	font-size: 12px !important;
}
.line_height_20{
	line-height: 20px;
}
.searh_order .form-check-input {
	border-color: #1874FE;
}
.font_13{
	font-size: 13px !important;
}
.font_14{
	font-size: 14px !important;
}
.label_13 {
	font-size: 13px !important;
	line-height: 16px;
	font-family: "SF Pro Text Medium" !important;
	color: #526484;
	font-weight: 600;
	margin-bottom: 6px;
}
.cust_search .form-control {
	border-right: 0px !important;
}
.cust_search i {
	color: #526484;
}
.nato {
	font-family: 'Noto Sans Thai Medium' !important;
	font-weight: 600 !important;
}
.color_344357 {
	color: #344357 !important;
}
.color_526484{
	color: #526484 !important;
}
.SukhumvitSet{
	font-family: 'SukhumvitSet-Bold';
}
.thai{
	font-family: 'SukhumvitSet-Bold';
}
.back_cate {
	background-color: transparent;
	box-sizing: border-box;
	padding: 5px 11px;
}
.back_cate a {
	font-size: 12px;
	line-height: 14px;
	color: #526484;
}
.back_cate:hover a{
	color: #ffffff;
}
.cate_edit_btn_grop .btn.btn-secondary a {
	color: #344357;
}
.cate_edit_btn_grop .btn.btn-secondary {
	margin-right: 0px;
	margin-left: 17px;
	padding: 8px 21px !important;
}

.delete_modal .modal-dialog {
	align-self: center;
}

/***********
Category page
*************/
.category_add_popup .modal-footer {
	border-bottom-right-radius: calc(10px - 0px);
	border-bottom-left-radius: calc(10px - 0px);
}
.category_add_popup .new-modal-title {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.04em;
	color: #344357;
}
.category_add_popup .modal-dialog {
	max-width: 464px;
}
.category_add_popup .modal-header {
	flex-direction: row;
	align-items: center;
}
.post_cout .bg_green {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	border-radius: 20px;
	display: block;
}
.post_cout > div {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #344357;
}
.cate_page_tree_head .row div {
	font-family: 'Poppins', sans-serif;
	color: #526484;
	padding: 12px;
}
.pages_list_outer .width_80 {
	margin-right: 17px;
}
.pages_list_outer .row .list_inner{
	padding: 26px 0px;
}
.pages_list_outer_child .div.border {
	padding-left: 50px !important;
}
.pages_list_outer_has_child .div.border {
	padding-left: 50px !important;
}
.cate_page_tree_head {
	border-bottom: 1px solid #dcdfe9;
}
.pages_list_outer .last_div {
	width: 8%;
}
.pages_list_outer .col-lg-9 {
	width: 80%;
}
.pages_list_outer .col-lg-10 {
	width: 77%;
}
.cate_page_tree_head .col-lg-9 {
	width: 80%;
}
.cate_page_tree_head .last_div {
	width: 8% !important;
}
.pages_list_main .width_75 .accordion-button.plus_center i {
	color: #8094AE;
}
.pages_list_outer .col-lg-1, .pages_list_outer .col-lg-9, .pages_list_outer .col-lg-10 {
	padding: 0px !important;
}
.pages_list_outer .has_child {
	padding-left: 24px;
	padding-right: 0px;
}
.pages_list_main .has_sub_child {
	padding-left: 40px;
	padding-right: 0px;
}
.pages_list_main .accordion-button i {
	font-size: 11px;
	color: #999999;
}
.cat_conter {
	background-color: black;
	border-radius: 50%;
	padding: 5px 8px 5px 5px;
	color: #fff;
	font-size: 11px;
	display: flex;
	height: 26px;
	width: 26px;
	align-content: center;
	justify-content: center;
	margin-left: 12px;
}
.checkbox_cat_pages .form-check-input {
	height: 16px;
	width: 16px;
	margin-top: 6px;
	border-color: #DCDFE9;
}
.checkbox_cat_pages .form-check-input:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}
.pages_list_outer {
	position: relative;
}
.pages_list_outer .last_div .bg_green {
	min-width: 77px;
	width: auto !important;
	font-size: 12px;
	font-family: 'Inter', sans-serif;
	display: flex;
	align-items: center;
}
.pages_list_outer .last_div .bg_green i {
	font-size: 8px;
	margin-right: 8px;
}
.pages_list_outer .last_div {
	width: 200px;
	display: flex;
	align-items: center;
	margin-left: auto;
}
.pages_list_main .accordion-button {
	padding: 0px !important;
	background-image: none !important;
	background-color: transparent;
	border: 0px !important;
	box-shadow: none !important;
	display: flex;
	justify-content: center;
	width: 40px;
}
.pages_list_main .page_name {
	font-size: 13px;
	margin: 0px;
	line-height: 15px !important;
	display: flex;
	align-items: center;
	font-family: 'Inter', sans-serif;
}
.icon_with_title {
	display: flex;
}
.list_inner {
	display: flex;
	align-items: center;
}
.pages_list_main .row {
	margin: 0px !important;
}
.cat_ellipsis {
	margin-left: auto;
}
.cat_ellipsis i {
	color: #526484;
}
.list_inner.change_bg::before {
	content: "";
	position: absolute;
	width: 98%;
	background-color: red;
	height: 100%;
	z-index: -1;
	right: 0px;
}
.has_child .checkbox_cat_pages .form-check-input {
	position: absolute;
	left: 30px;
}

/***********
Coupo page
*************/
.list_view .coupon_order td {
	color: #344357;
}
.list_view .coupon_order th {
	color: #526484;
	font-size: 12px;
}
.coupon_order .user span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.bg_grey_user{
	background: #D9D9D9;
}
.coupon_order tr {
	border-bottom: 1px solid #dcdfe9;
}
.coupon_order tr:last-child {
	border-bottom: transparent;
}
.img_desc_coupon_icon {
	display: flex;
	align-items: center;
}
.coupon_icon_img .img_bg {
	background: #B0C1FF;
	padding: 6px;
	border-radius: 50%;
	width: 26px;
	height: 26px;
}
.bg_purple .img_bg {
	background: #B0C1FF;
}
.coupon_icon_img {
	display: flex;
	align-items: center;
	border-radius: 31px;
	padding: 1px 6px 1px 4px;
}
.bg_purple:hover {
	background: #B0C1FF;
}
.img_desc_coupon_icon .form-check-input {
	margin-top: 0px;
}
.coupon_order thead .code_th {
	padding-left: 79px !important;
}
.bg_purple_light .img_bg{
	background: #C9B0FF;
}
.bg_purple_light:hover{
	background: #C9B0FF;
}
.bg_purple_dark .img_bg{
	background: #7D8CFF;
}
.bg_purple_dark:hover{
	background: #7D8CFF;
}
/***********
Pages Catgories 
*************/

.check_left_cat {
	display: inline-block;
	width: 21px;
}
.list_view_pages .pages_cat_table .ps-1 {
	padding-left: 10px !important;
}
.pages_cat_table .user span {
	border-radius: 20px;
	text-align: center;
	padding: 6px 12px;
	width: fit-content;
	border-radius: 20px;
	display: block;
	font-family: "SF Pro Text Medium";
	font-weight: 500;
}
.pages_cat_table tr {
	border-bottom: 1px solid #dcdfe9;
}
.pages_cat_table tr:last-child {
	border-bottom: transparent;
}
.list_view .table_order .pages_cat_table th,
.list_view .table_order .pages_cat_table td {
	color: #526484;
}
.list_view .table_order .collapse_area td {
	padding: 10px 20px;
}
.open_left {
	display: flex;
}
.pages_list_main .width_75 {
	width: 40px;
	padding: 0px;
	display: flex;
	align-items: center;
}
.has_sub_child .col-lg-10 {
	width: 74%;
}
.has_child .row .left_child_line::after,
.has_sub_child .row .left_child_line::after {
	content: "";
	height: 64px;
	border: 1px solid #eceef3;
	position: absolute;
	right: 40px;
	top: -12px;
}
.left_child_line {
	position: relative;
	height: 40px;
}
.list_tree_btn{
	display: none;
}
.list_tree_btn .btn.btn-sm {
	width: 104px;
	height: 36px;
	border: 1px solid #1874FE;
	border-radius: 4px;
	margin-right: 8px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #526484;
	font-family: "SF Pro Text Medium";
}
.invite_teammates {
	background: linear-gradient(91.8deg, #5200FF 1.95%, #A02A99 20.02%, #D64752 67.43%, #FF5D1D 102.79%);
	border-radius: 0px 0px 5px 5px;
	border: 0px;
	padding: 8px 38px 8px 9px;
}
.invite_teammates a, .upgrade_btn a, .view_website a {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.04em;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}
.invite_teammates a img{
	margin-right: 10px;
}
.upgrade_btn a {
	color: #000;
}
.upgrade_btn {
	background: #DBFF00;
	border-radius: 15.5px;
	border: 0px;
	padding: 4px 10px 6px;
}
.upgrade_btn img {
	margin-right: 3px;
}
.upgrade_btn_outer {
	width: 142px;
	text-align: center;
	margin-bottom: 13px;
}
.dashboard .col-lg-3 {
	width: 288px;
	position: fixed;
}
.dashboard .col-lg-9 {
	flex: 0 0 auto;
	width: 100%;
	padding-left: 288px !important;
}
.view_website {
	background: linear-gradient(92.45deg, #5200FF 0%, #FF9DFF 106.61%);
	border-radius: 62px;
	border: 0;
	padding: 2px 13px 6px;
}
.nav_left {
	display: flex;
	align-items: center;
}
.nav_left .view_website {
	margin-right: 12px;
}
.navbar_right {
	display: flex;
	align-items: center;
}
.navbar_right .active_user {
	margin-right: 12px;
}
.navbar_right .butn_area {
	margin-right: 18px;
}
.diver_right {
	border: 1px solid rgba(153, 153, 153, 0.43);
	height: 28px;
	margin-right: 20px;
}
.navbar_right .active_user img {
	margin-left: -10px;
}








/*****************
DashBoard
*****************/
.dashboard{
	background-color: #fff;
}
.side_bar {
	display: flex;
	height: 100vh;
}
.dash_sub_menu {
	width: 225px;
	background: #F7F7F7;
	border-radius: 16px;
}
.sidebar_icon {
	width: 62px;
}
.dash_sub_menu {
	width: 225px;
	background: #F7F7F7;
	border-radius: 16px;
	margin-top: 10px;
	padding: 28px 18px;
}
.dash_sub_menu .nav-pills .nav-link {
	padding: 12px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}
.dash_sub_menu h3 {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: -0.04em;
	color: #314444;
}
.dash_sub_menu .nav-pills .nav-link img {
	margin-right: 11px;
}
.dash_sub_menu h3.font-13 {
	color: #000;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
}
.info_hover {
	text-align: center;
	margin-bottom: 20px;
}
.between_menu {
	width: 39px;
	margin: 32px auto 0;
	border: 1px solid rgba(149, 149, 149, 0.24) !important;
}
.dashboard_custom_dropdown {
	width: 176px;
}
.dashboard_custom_dropdown .dropdown-toggle {
	background: #FFFFFF;
	border: 1px solid #E2E2E5;
	border-radius: 10px 10px 0px 0px;
	color: #314444 !important;
	font-size: 18px !important;
	padding: 9px 10px !important;
	line-height: 18px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
.dashboard_custom_dropdown .dropdown-toggle span {
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.04em;
	color: #7A7A7A;
}
.dashboard_custom_dropdown .btn.dropdown-toggle::after {
	right: 14px;
	background-image: url('assets/images/clinton.png');
	top: 28%;
}
.dashboard_custom_dropdown .btn.dropdown-toggle.show::after {
	top: 29%;
	right: 18px;
}
.sidebar_icon ul li a {
	border-radius: 50% !important;
	width: 39px;
	height: 39px;
	padding: 0px !important;
	margin: 0px auto;
	margin-top: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar_icon ul li a:hover {
	background-color: #F5F5F5 !important;
}
.help_custom_dropdown a {
	font-style: normal;
	font-weight: 600;
	font-size: 13px !important;
	line-height: 20px;
	color: #314444 !important;
	font-family: 'Poppins', sans-serif;
}
.help_custom_dropdown {
	width: 78px;
}
.help_custom_dropdown .dropdown-menu {
	min-width: 100%;
}
.help_custom_dropdown .btn.dropdown-toggle::after {
	right: 14px;
	background-image: url('assets/images/help.png');
	top: 42%;
}
.help_custom_dropdown .btn.dropdown-toggle.show::after {
	top: 40%;
	right: 18px;
	margin: 0px;
}
.sidebar_icon_ul li:first-child a {
	margin-top: 10px;
}
.sidebar_icon_ul li.active a {
	background-color: #F5F5F5 !important;
}
.filter_right_icon i {
	color: #8094AE !important;
}
.filter_right_icon i:hover {
	color: #A8B6C7 !important;
}
.filter_right_icon .active i {
	color: #1874FE !important;
}
.filter_right_icon #searchForm {
	top: -7px;
}
.dash_sub_menu ul li.active a {
	color: #5200FF;
}



/*****************
Product Page
*****************/

.black_dark{
	color: #060606;
}
.filter_area_product {
	padding: 9px 12px;
	border-radius: 7px;
}
.filter_right_product i {
	color: #060606;
}
.filter_right_product i:hover {
	color: #B7B7B7;
}
.filter_right_product #searchForm .cust_search {
	height: 42px;
}
.filter_right_product #searchForm {
	top: -12px;
	width: 50% !important;
}
.title_with_prod_count {
	display: flex;
	align-items: center;
}
.prod_count{
	background: #F9F5FF;
	border-radius: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	height: 22px;
	width: 39px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
}
.Product_img .feauter_img img {
	position: absolute;
	height: 100%;
	right: 0px;
	top: 0px;
	border-radius: 0px 10px 10px 0px;
}
.product_icon img {
	margin-right: -10px;
}
.product_layout .price {
	font-weight: 600;
}


.product_list_ul {
	list-style: none;
	display: flex;
	padding: 0px;
	align-items: center;
	flex-direction: column;
}
.product_list_ul .check_img_des {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 26px 12px;
	position: relative;
}
.product_list_ul .check_img_des .list_inner {
	width: 100%;
	display: flex;
}
.product_list_ul .check_img_des .left_side {
	display: flex;
	width: 30%;
	align-items: center;
}
.product_list_ul .check_img_des .right_side {
	width: 70%;
	display: flex;
	align-items: center;
}
.product_list_ul .check_img_des .right_side div {
	width: 23%;
}
.product_list_ul .check_img_des .right_side .product_stauts_ellipsis {
	width: 8%;
}
.details p{
	margin-left: 24px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
}
.product_list_ul .check_img_des .left_side .check_box {
	margin-right: 24px;
}
.position_reltive{
	position: relative;
}
.show_when_check .btn {
	margin-left: 12px;
}
.show_when_check {
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
	background-color: #fff;
}
.show_when_check.Show_oncheck {
	display: flex;
	align-items: center;
}

.number_drop .pagination_dropdown .dropdown-toggle {
	margin: 0px 12px;
	width: 62px;
	height: 36px;
	background: #FFFFFF;
	border: 1px solid #DCDFE9 !important;
	border-radius: 71px;
}
.number_drop .pagination_dropdown .dropdown-toggle::after {
display: none;
}
.pagi_arrow i {
	color: #000000;
	font-size: 16px;
}
.pagi_arrow i:hover {
	color: #616161;
}
.pagi_arrow.disable i {
	color: #D1D1D1;
}
.left_pagi {
	margin-right: 12px;
	margin-top: 3px;
}
.right_pagin {
	margin-left: 12px;
	margin-top: 3px;
}
.no_border_borrom .btn.dropdown-toggle {
	padding: 8px 12px !important;
	font-family: 'Inter', sans-serif !important;
}
.cust_search .fa-duotone.fa-magnifying-glass {
	color: #5200FF;
}
.cust_search .form-control.border-0.bg-light {
	font-size: 12px;
	line-height: 16px;
	color: #7F7F7F;
}
.product_page{
	background-color: #fff;;
}
.show_btn_top {
	border-color: #7F56D9 !important;
	background-image: url('assets/images/minace.png') !important;
	background-size: auto !important;
}
.grid_view .form-check .form-check-input:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}
.form-check-input:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0);
}
.number_drop .dropdown-menu {
	border-radius: 20px;
	min-width: 62px;
	text-align: center;
	padding-bottom: 4px;
	padding-top: 4px;
}
.number_drop .dropdown-menu li {
	padding: 4px 7px;
}
.number_drop .dropdown-menu li .dropdown-item {
	font-size: 12px;
	line-height: 16px;
	border-radius: 14px;
}
.set_regular_price .delete-modal {
	filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
	max-width: 230px;
}
.set_regular_price .modal-header {
	padding: 12px;
	padding-bottom: 0px !important;
}
.set_regular_price .modal-body {
	padding: 12px 12px 24px !important;
}
.price_click {
	cursor: pointer;
}
.set_regular_price .form-control {
	border: 1px solid #DCDFE9;
	border-radius: 4px;
	padding: 7px 12px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #ADADAD;
}
.set_regular_price .form-control::placeholder {
	color: #ADADAD;
}
.product_list_ul .check_img_des .list_inner .check_box {
	opacity: 0;
}
.product_list_ul .check_img_des .list_inner:hover .check_box {
	opacity: 1;
}
.change_bg .check_box {
	opacity: 1 !important;
}
.check_img_des.change_bg::after {
	content: "";
	position: absolute;
	height: 100%;
	z-index: -1;
	right: 0;
	width: calc(100% - 40px);
	background: #F2F7FF;
}


/******* Product pag status dropdown ********/
.publish_bg {
	background: #ECFDF3;
	width: 97px !important;
}
.dropdown.product_stauts .btn.dropdown-toggle::after{
	display: none;
}
.dropdown.product_stauts .btn.dropdown-toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 12px;
	border-radius: 20px;
	min-width: 75px;
	max-width: 115px;
	font-size: 12px;
	font-weight: 500;
}
.product_stauts_fixed {
	position: absolute;
	bottom: 12px;
	right: 12px;
}
.dropdown.product_stauts .btn.dropdown-toggle i {
	font-size: 8px;
	margin-right: 6px;
}
.product_stauts .dropdown-menu {
	filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
	border: 0px;
	background: #FFFFFF;
	border-radius: 10px;
	min-width: 123px;
	padding: 8px;
}
.product_stauts .dropdown-menu li a {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #060606;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
}
.product_stauts .dropdown-menu li {
	margin: 5px 0px;
}
.set_regular_price .global_Btn {
	width: 100%;
	margin-top: 26px !important;
}
.set_regular_price h3 {
	font-size: 12px;
}
/******* Product page status ellipsis ********/
.product_stauts_ellipsis .dropdown-toggle {
	margin-left: auto;
	width: 36px !important;
	border-radius: 5px !important;
	min-width: 36px !important;
	max-width: 36px !important;
}
.product_stauts_ellipsis .dropdown-toggle i {
	margin: 0px;
}
.product_stauts_ellipsis .dropdown-toggle:hover{
	background-color: #dcdfe9 !important;
}
.product_stauts_ellipsis .dropdown-toggle i {
	font-size: 14px !important;
}




/************************* 
Category Pages listed
 **************************/

.head_area {
	padding-left: 40px;
}
.Category_listed {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 10px 0px;
}
.Category_listed .cate_data {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 16px 0px;
}
.Category_listed .check_left {
	max-width: 10%;
	width: 42px;
}
.Category_listed .cate_data_icon {
	width: 40px;
	align-items: center;
	display: flex;
}
.cate_data_mian {
	width: 100%;
	display: flex;
}
.Category_listed .check_left .form-check .form-check-input {
	margin: 0px;
}
.Category_listed .check_left .form-check {
	padding: 0px;
	min-height: auto !important;
}
.cate_data_mian .row {
	width: 100%;
	align-items: center;
}
.Category_listed .cate_data_icon .accordion-button {
	background-color: transparent;
	padding: 0px 16px;
	width: 40px;
}
.Category_listed .cate_data_icon .accordion-button i {
	font-size: 14px;
	color: #999999;
}
.balck_other_cate {
	width: 26px;
	height: 26px;
	display: inline-block;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	padding: 4px 4px 4px 3px;
	font-size: 10px;
}


/************************* 
Pages Table
**************************/

.font_600{
	font-weight: 600 !important;
}
.title_with_desc {
	display: flex;
	align-items: center;
}
.pages_grid_main .article {
	height: 150px;
}
.title_with_desc title {
	display: block;
}
.pages_grid_main .article .modify_bottom {
	position: absolute;
	bottom: 12px;
}
.title_with_desc .form-check {
	width: 0px;
	overflow: hidden;
	padding: 0px;
}
.pages_grid_main .add_blue_border:hover .form-check {
	width: 27px;
	overflow: unset;
	padding-left: 27px !important;
}
.pages_grid_main .article:hover .form-check {
	width: 27px;
	overflow: unset;
	padding-left: 27px !important;
}
.unpublish_btn{
	background-color: #FFF5E2;
	color: #FFB32E;
}
.unpublish_btn:hover{
	background-color: #FFF5E2;
	color: #FFB32E;
}
.trash_btn {
	background-color: #FDECEC;
	color: #D64752;
	min-width: 73px !important;
	height: 27px !important;
}
.trash_btn:hover {
	background-color: #FDECEC;
	color: #D64752;
}
.pages_list .product_list_ul .check_img_des .right_side {
	justify-content: flex-end;
}
.modify_people_outer div {
	width: auto !important;
}
.modify_people_outer {
	width: 40% !important;
	display: flex;
	align-items: center;
}
.modify_people_outer .modify_people {
	margin-left: 20px;
}
.modify_people_outer div.people_icon {
	width: 0px !important;
	overflow: hidden;
	display: none;
}
.pages_list .product_list_ul:hover .people_icon {
	width: auto !important;
	display: block;
}
.modify_people {
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Poppins', sans-serif;
}
.modify_people i{
	font-size: 8px;
}
.modify_people_outer .last_modify_text {
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
}
.change_bg .modify_people_outer div.people_icon {
	width: auto !important;
	overflow: unset;
	display: block;
}
.pages_grid_main .add_blue_border.article .form-check {
	width: 27px;
	overflow: unset;
	padding-left: 27px !important;
}
.filter_area_product .form-check-label {
	font-weight: 400;
	font-size: 12px !important;
}
.Select_item_count .pera {
	color: #667085;
	font-size: 14px;
}
.red_glob_btn:focus {
	background-color: #FF3030;
	border-color: #FF3030;
}
.no_border_borrom .dropdown-menu {
	margin-top: -2px !important;
}
.no_border_borrom .btn.dropdown-toggle.border.show {
	border-bottom: 0px !important;
	border-radius: 4px 4px 0px 0px;
}
.advance_search .dropdown-menu.show {
	border-color: #DCDFE9;
}




/************************* 
Ecommerce setting.
**************************/
.card_area {
	padding: 45px;
	border-radius: 16px;
	margin-bottom: 18px;
}
.card_area:hover {
	background-color: #F9F5FF;
}
.card_area .card_icon i {
	font-size: 40px;
	color: #000000;
}
.card_area .card_title .heading_h3 {
	color: #3A4961;
	margin: 14px 0px 12px;
}
.card_drescription p {
	color: #526484;
	font-weight: 400;
}
.filter_left .form-check-input {
	background-image: url('assets/images/minace.png') !important;
}
.form-check .form-check-input.show_btn_top:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}


/************************* 
business Info.
**************************/
.business_info_main .container {
	max-width: 1100px !important;
}
.business_info .heading_h3 {
	font-size: 20px;
}
.business_info_heading .exclamation {
	font-size: 12px;
	position: relative;
	vertical-align: super;
	margin-left: -3px;
}
.business_info_heading .exclamation {
	font-size: 12px;
	position: relative;
	vertical-align: super;
}
.business_info p {
	max-width: 390px;
	font-size: 14px;
	line-height: 20px;
}
.business_info_form .form-label {
	font-weight: 600;
	color: #424242;
	font-size: 14px !important;
	line-height: 21px !important;
	margin-bottom: 4px !important;
}
.business_info_form .form-label i{
	font-size: 12px !important;
}
.business_info_form .form-control {
	border: 1px solid #DCDFE9;
	padding: 9px 12px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #060606;
}
.business_info_form .form-control::placeholder {
	color: #B1B1B1;
}
.business_info_line {
	background-color: #DCDFE9;
	margin: 50px 0px 60px;
}
.on_off_btn .form-check-label {
	font-size: 14px !important;
}
.on_off_btn p {
	max-width: 490px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #667085;
	margin-left: 8px;
}
.white_btn .form-check-input {
	background-color: #EAECF0;
	border-color: #EAECF0;
}
.on_off_btn {
	margin-bottom: 32px;
}
.on_off_btn .form-check-label {
	font-size: 14px !important;
	color: #344054;
	font-weight: 500;
	line-height: 20px !important;
}
.on_off_btn .form-check-input {
	width: 36px;
	height: 20px;
	margin-right: 12px;
	background-color: #EAECF0;
	border-color: #EAECF0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
.on_off_btn .form-check-input:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
	border-color: #eaecf0;
	background-color: #eaecf0;
}
.on_off_btn .form-check-input:checked {
	background-color: #5200FF;
	border-color: #5200FF;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
.grey_btn:focus {
	background-color: #B1B1B1;
	border-color: #B1B1B1;
}
.business_info span {
	margin-right: 8px;
}

.payment_grey_btn {
	background-color: #B1B1B1;
	width: 120px;
	border: 1px solid #B1B1B1;
	border-radius: 4px;
	padding: 5px 8px;
	height: 36px;
}
.payment_grey_btn a {
	font-size: 12px;
	text-decoration: none;
	font-family: 'SukhumvitSet-Bold';
	color: #fff;
	font-weight: 700;
}
.payment_btn_purple {
	background-color: #5200FF;
	border-color: #5200FF;
}
.payment_btn_purple:hover {
	background-color: #A479FF;
	border-color: #A479FF;
}



/************************* 
Account Privacy.
**************************/
.account_privacy_left .card_drescription p {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #667085;
	max-width: 390px;
}
.account_privacy_left .heading_h3 {
	font-size: 20px;
	line-height: 30px;
}
.account_privacy_right h4 {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.04em;
	color: #424242;
	margin-bottom: 2px;
}
.account_privacy_right .form-check .form-check-input:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}
.account_privacy_right .form-check-label {
	color: #526484;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	font-size: 14px !important;
	line-height: 20px !important;
}
.account_privacy_right .box_text .pera {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #526484;
}
.account_privacy_right .box_text {
	padding: 10px 12px;
	width: 539px;
	height: 100px;
	border: 1px solid #DCDFE9;
	border-radius: 4px;
}
.text_box_new .form-check-input {
	margin-top: 4px;
}



/************************* 
Shipping Setting.
**************************/

.Shipping_setting .check_img_des .left_side {
	width: 25%;
}
.Shipping_setting .check_img_des .right_side {
	width: 75%;
}
.Shipping_setting .on_off_btn {
	margin-bottom: 0px;
}
.Shipping_setting .check_img_des .left_side .check_box {
	margin-right: 0px;
}
.Shipping_setting .balck_other_cate {
	left: -10px;
	position: relative;
}
.Shipping_setting .on_off_btn .form-check-input {
	margin-top: 2px;
}
.Shipping_badge{
	background: #F9F5FF;
	color: #6941C6;
}
.Shipping_setting .check_box .form-check-input:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}
.Shipping_badge {
	background: #F9F5FF;
	color: #6941C6;
	min-width: 91px !important;
	width: min-content !important;
}
.Shipping_badge:hover {
	color: #6941C6;
}
.product_stauts_budge i {
	font-size: 8px !important;
	margin-right: 8px;
}
.product_stauts_budge {
	background: #F9F5FF;
	color: #6941C6;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 12px;
	border-radius: 20px;
	min-width: 91px;
	max-width: max-content;
	font-size: 12px;
	font-weight: 500;
	height: 27px;
}


/************************* 
Email Setting.
**************************/
.email_Setting {
	margin-top: 24px;
	margin-bottom: 24px;
}
.email_Setting .table thead th {
	letter-spacing: -0.04em;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #060606;
	border: 0px;
	padding: 13px 12px;
}
.email_Setting .table tbody td,
.email_Setting .table tbody td h3{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #060606;
	vertical-align: middle;
	margin-bottom: 0px;
}
.email_Setting .table tbody td span i {
	font-size: 24px;
	color: #12B76A;
}
.email_Setting .table tbody td span {
	margin-right: 12px;
}
.email_Setting .table tbody td .icon_with_title {
	align-items: center;
}
.email_Setting .table tbody tr td {
	padding: 25px 12px;
}
.email_Setting .table tbody td .icon_with_title .setting_icon {
	background-color: #999999;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.email_Setting .table tbody td .icon_with_title .setting_icon i {
	font-size: 12px;
	color: #000;
}
.email_Setting thead {
	background: #FCFCFD;
	border-radius: 7px;
}
.email_Setting_budge i {
	color: #6941C6 !important;
}

/************************* 
Tag Management.
**************************/
.margin_auto {
	margin-left: auto;
}
.tags_list .pera {
	margin-left: 0px;
}
.tag_budge {
	color: #027A48;
	background: #ECFDF3;
	min-width: 77px !important;
}
.tags_list .check_box .form-check-input:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}


/************************* 
Review Page.
**************************/
.hide_eamil .email {
	display: none;
}
.review_list:hover .hide_eamil .email {
	display: block;
	margin-top: 6px;
}
.review_list .left_side {
	height: 40px;
}
.review_list .check_img_des .left_side {
	width: 25%;
}
.review_list .check_img_des .right_side {
	width: 75%;
}
.review_list .check_img_des .right_side .column_4 {
	width: 10% !important;
	overflow: unset !important;
}
.review_list .check_img_des .right_side .column_1 div {
	width: 100%;
}
.review_list .check_img_des .right_side .column {
	width: 30%;
	justify-content: center;
	display: flex;
	overflow: hidden;
	align-items: center;
}
.review_list .check_img_des .right_side .column_1 .review_img {
	width: 125px;
}
.review_list .check_img_des .right_side .column_1 .review_text {  
	width: 200px !important;
	transition: ease-in 0.5s;
	right: -1000px;
	position: relative;
}
.review_list:hover .review_text {
	right: 0 !important;
}
.review_list .details p {
	margin-left: 12px;
}
.review_list .check_box .form-check-input:checked[type="checkbox"] {
	background-image: url("assets/images/check_mark.png") !important;
	background-color: #FFF;
	border-color: #7F56D9;
	background-size: auto;
}
.review_list .change_bg .hide_eamil .email {
	display: block;
	margin-top: 6px;
}
.review_list .change_bg .review_text {
	right: 0px !important;
}


@media only screen and (max-width: 1200px)  {
	.table_img{
		min-width: 100px;
	}
}


@media only screen and (max-width: 991px)  {
	.article {
		margin-bottom: 15px;
	}
	.grid_view .ellipsis_on_hover {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 9999999;
	}
	.box_filter {
		margin-bottom: 15px !important;
	}
	.white_group_btn {
		display: flex;
		flex-wrap: wrap;
	}
	.white_group_btn .btn.btn-secondary {
		width: 20%;
		margin-bottom: 15px;
	}
	.icon_right {
		margin-top: 18px;
	}
	.global_drop.global_drop_2 {
		justify-content: flex-start;
		padding-left: 18px;
	}
}   

@media only screen and (min-width: 991px)  {
	.post_grid .article {
		height: 150px;
	}
}
@media only screen and (max-width: 767px)  {
	.col-sm-12.col-lg-4.Apply_btn {
		display: flex;
		flex-direction: column;
	}
	.col-sm-12.col-lg-4.Apply_btn .dropdown.global_drop {
		width: 100%;
		margin-left: 0px;
	}
	.Apply_btn .btn.btn-secondary {
		margin: 10px 0px;
		width: 100%;
	}
	.white_group_btn .btn.btn-secondary {
		width: 50%;
		margin-bottom: 15px;
	}
	.white_group_btn {
		justify-content: space-between;
	}
	.white_group_btn .btn.btn-secondary {
		max-width: 49%;
		margin-bottom: 15px;
		width: 100% !important;
		margin-right: 0px !important;
	}
}